// Your collections container
.allcollections_ScrollContainer_u1xD3 {
  background: transparent;
}

// Collection cards
.allcollections_Collection_3IWn- {
  background: var(--background-secondary-alt);
  border-radius: var(--roundness);
  &:hover {
    background: var(--background-secondary);
  }
}

// Viewing a collections container
.collectionview_OuterContainer_2sNr7 {
  background: transparent;
}
