.appdetails_Glassy_3Fmxx {
  .appdetails_ScrollContainer_2l416 {
    background: var(--background-secondary);
  }
}
.library_AppDetailsTransitionGroup_2Dd4T {
  background: var(--background-secondary);
}

.appdetails_Glassy_3Fmxx.appdetails_ScrollContainer_2l416 {
  background: var(--background-secondary);
}

.appdetailsplaysection_PlayBar_3fLo1 {
  background: var(--background-secondary) !important;
}

.appdetailsplaysection_StickyHeaderShadow_2_86Q {
  background: var(--background-secondary) !important;
}

.sharedappdetailsheader_ImgSrc_HNbe3.sharedappdetailsheader_ImgBlurBackdrop_3_IUV,
.sharedappdetailsheader_ImgSrc_HNbe3.sharedappdetailsheader_ImgBlur_HSQWw,
.appdetailsoverview_Glassy_2OOzY .appdetailsoverview_BackdropGlass_Jbe-- {
  display: none !important;
}

.appdetailssection_AppDetailsSectionContainer_31ptF.appdetailssection_RightColumnSection_3KfxI,
.appdetailsspotlight_ReviewContainer_3LE-6,
.appdetailssection_Highlight_38t1m,
.appactivityday_PartnerEventMediumImage_Container_1HZy7,
.appdetailscommunityfeed_HeaderStyles_2lNdD,
.appdetailscommunityfeed_AuthorSection_1ul9Z,
.appdetailscommunityfeed_CommunityItem_3QS6O,
.appdetailscommunityfeed_Guide_-85o5 .appdetailscommunityfeed_TopSectionInner_1dJuv {
  background: var(--background-secondary) !important;
}

.appactivityday_PartnerEvent_1AYE1 {
  border: none;
  background: var(--background-secondary) !important;
}

.appactivityday_PartnerEventLargeImage_Container_Libri {
  background: var(--background-secondary) !important;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Text_2sNDj,
.appdetailscommunityfeed_Guide_-85o5 .appdetailscommunityfeed_Description_xsBpz {
  color: rgba(255, 255, 255, 0.6)
}

.writereview_RatingContainer_2SAb6 {
  background: transparent;
}

.appdetailsprimarylinkssection_LinkInner_7k4qm .appdetailsprimarylinkssection_Link_1b6LY:hover {
  background: var(--background-secondary-alt);
}
