// Library Container
.libraryhome_Container_2gSXC {
  background: transparent;
}

// What's new
.libraryhome_UpdatesContainer_17uEB {
  background: transparent;
}

// Shelf Container
.libraryhome_LibraryHome_3Sb2o {
  background: transparent;
}
